Exercise 1: Make an empty list and call it names

In [ ]:
names = []

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [2]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]
print(names)

['Hannah', 'Victor', 'Sam', 'James', 'Sarah']

Exercise 3: Make names sort in reverse. Print out the list using a for-loop

In [5]:
names.sort(reverse = True)
for i in names:
    print(i)

['Victor', 'Sarah', 'Sam', 'James', 'Hannah']
Victor
Sarah
Sam
James
Hannah

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [6]:
names.sort()
for i in names:
    print(i)

Hannah
James
Sam
Sarah
Victor

Exercise 5: Pull out the fourth item from names and print it out

In [10]:
print(names[3:4])

['Sarah']

Exercise 6: Pull out the first item from names and print it out

In [8]:
print(names[0])

Hannah

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [11]:
fruits = "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit"
fruits.split(', ')

['Apples', 'Oranges', 'Bananas', 'Pineapples', 'Persimmons', 'Dragonfruit']

Exercise 8: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [17]:
square = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Exercise 9: Create a multiplication table from 1 to 10

In [20]:
table = [1,2,3,4,5,6,7,8,9,10]

for i in table:
    print(f"Table: {i}")
    for y in range(10):
        print(f"{i} X {y+1} = {i*(y+1)}")
    print()

Table: 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

Table: 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

Table: 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

Table: 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

Table: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Table: 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

Table: 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

Table: 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

Table: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

Table: 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

Exercise 10: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [39]:
def get_score(scores):
    score = int(input("enter a score: "))
    scores.append(score)
    return scores
scores = []
x = 'y'
while x != 'n':
    get_score(scores)
    x = input("Would you like to continue? 'n' to quit: ")
print(f"Origonal: {scores}")
average = sum(scores)/ len(scores)
print(f"the average is: {average}")

enter a score: 50
Would you like to continue? type '1' for yes type '2' for no:
enter a score: 60
Would you like to continue? type '1' for yes type '2' for no:
enter a score: 68
Would you like to continue? type '1' for yes type '2' for no:
enter a score: 70
Would you like to continue? type '1' for yes type '2' for no:
enter a score: 79
Would you like to continue? type '1' for yes type '2' for no:
enter a score: 90
Would you like to continue? type '1' for yes type '2' for no: n
Origonal: [50, 60, 68, 70, 79, 90]
the average is: 69.5

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```

In [67]:
def List (movies):
    x = int(1)
    print("Command: list")
    for i in movies:
        print(f"{x}. {movies[x-1]}")
        x+= 1

def Add (movies):
    print("Command: add")
    movie = input("Enter the movies you want to add: ")
    movies.append(movie)
    print(f"{movie} was added.")
    return movies

def Del (movies):
    print("Command: delete")
    Deleted = int(input("Enter the number of the movie you want to delete: "))
    print(f"{movies[Deleted-1]} was deleted.")
    movies.remove(movies[Deleted-1])
    return movies

movies = ["Toy Story", "Lion King", "Frozen"]
ans = int(0)
while (ans < 4):
    ans = int(input("To view the list of movies type '1', to add a movie type '2', to delete a movie type '3', to quit type '4': "))
    if (ans == 1):
        List(movies)
    elif (ans == 2):
        Add(movies)
    elif (ans ==3):
        Del(movies)

To view the list of movies type '1', to add a movie type '2', to delete a movie type '3', to quit type '4': 3
Command: delete
Enter the number of the movie you want to delete: 3
Frozen was deleted.
To view the list of movies type '1', to add a movie type '2', to delete a movie type '3', to quit type '4': 1
Command: list
1. Toy Story
2. Lion King
To view the list of movies type '1', to add a movie type '2', to delete a movie type '3', to quit type '4': 4